# .env.example

# Banco de dados
DATABASE_URL=postgresql://user:password@db:5432/taskmanager

# Chave secreta para JWT
SECRET_KEY=minha_chave_secreta_super_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Dados do PostgreSQL (usados no docker-compose)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=taskmanager